.App {
  text-align: center;
}

.App-header {
  padding-top: 15vh;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: padding-top 0.4s;
}

.App-header.App-header-results {
  padding-top: 0;
}

@media (orientation: portrait) {
  .App-header {
    padding-top: 5vh;
  }
  .App-header.App-header-results {
    min-height: 0;
  }
}

.App-link {
  color: #61dafb;
}

.search-results > ul {
  list-style: none;
  margin: 0;
  padding: 0 2rem;
  color: #fff;
  margin: 0 auto;
  max-width: 600px;
}

.search-results > ul > li {
  margin: 1.5rem 0;
  padding: 1rem 2.4rem;
  background: hsla(220, 13%, 5%, 0.5);
  box-shadow: inset 2px 2px 12px hsla(220, 13%, 5%, 0.5);
  border-radius: 1rem;
}

.result-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.result-details > li {
  display: block;
  padding: 0.5rem 0;
  text-align: center;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.result-details a {
  color: cornflowerblue;
  outline: none;
}

.result-details a:focus,
.result-details a:hover {
  color: dodgerblue;
}

.result-details a:focus img,
.result-details a:hover img {
  border: solid 1px dodgerblue;
}

.result-details a img {
  display: inline-block;
  min-width: 160px;
  min-height: 160px;
  border: solid 1px transparent;
  box-shadow: 0 0 8px hsla(220, 13%, 5%, 0.75);
}

.result-details a:focus img {
  outline: none;
}
